<%= form_for @category do |f| %>
 
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <p><%= params[:parent_id]%></p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
    <%= f.hidden_field :parent_id, :value => params[:parent_id] ? params[:parent_id] : 0  %>  
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
<p>Hello rana </p>