
<p><strong><%= @category.title %></strong></p>
<p><% @parent_id=@category.id %></p>
<% @subcat = Category.where(parent_id: @parent_id).find_each do |item|%>
  <p> <%= link_to item.title,category_path(item)  %> </p>
<% end %></p>
<p>hi all</p>
 <p>test merge test </p>
<h2>Posts</h2>
<%= render @category.posts %>
<p> <%= link_to 'add new post',new_category_post_path(@category)  %> </p>
<%= link_to 'Back', categories_path %>
